@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(49, 54, 60);
    text-align: -webkit-center;
    color: white;
  }
}

@layer components {
  .btn {
    @apply w-full justify-center rounded-md bg-primary px-3 py-1.5 my-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-hover focus-visible:outline focus-visible:outline-2;
  }
}
